.available-pet {
    display: flex;
    width: 50rem;
    min-height: 10rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    background-color: var(--card-white);
    box-shadow: inset 0 -3em 3em rgba(235, 241, 235, 0.3),
        0 0 0 2px var(--footer-gray),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.available-pet-img-container {
    width: 20%;
}

.available-pet-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.available-pet-name-buttons {
    display: flex;
    margin-bottom: .5rem;
}

.available-pet-data {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.available-pet-data h5 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.available-pet-label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.available-pet-label span {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.available-pet-local-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.available-pet-short {
    display: none;
}

.available-pet-specie,
.available-pet-local,
.available-pet-tutor {
    display: flex;
    gap: 0.5rem;
}

.available-pet-status {
    display: flex;
    gap: .6rem;

}

.available-pet-short {
    display: none;
}



@media (max-width: 1120px){
    
    
    .available-pet{
        width: 90%;
        height: auto;
    }
    
}
@media (max-width: 750px){
    
    
    .user-wanted-pet{
        width: 90%;
        height: auto;
    }
    
}
@media (max-width: 600px){
    
    
    .user-wanted-pet{
        width: 100%;
        height: auto;
    }

    .user-pet-img-container img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 2rem 0 0 2rem;
    }
    
}

@media (max-width: 500px){
    
    .user-wanted-pet{
       font-size: .8rem;
    }
    .user-pet-data{
        padding: .5rem;
    }

    .user-pet-img-container{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 2rem 0 0 2rem;
    }

    
}
@media (max-width: 450px){
    

    .user-pet-img-container {
        width: 70%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 2rem 0 0 2rem;
    }

    .user-pet-img-container img{
        width: 100%;
        height: 100%;
        
    }
    
}
@media (max-width: 400px){
    

      
    .user-wanted-pet{
        width: 70%;
        height: auto;
     }
    
}



