.interested-card-body{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 17rem;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    background-color: var(--header-green);
    box-shadow: inset 0 -3em 3em rgba(235, 241, 235, 0.3),
        0 0 0 0 var(--footer-gray),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
}

.interested-card-header{
    display: flex;
    justify-content: space-between;
}

.interested-card-person-name{
    font-weight: bold;
    margin-bottom: 1rem;
}

.interested-card-contact-icons{
    display: flex;
   
}
.interested-card-contact-icons li{
    list-style: none;
    cursor: pointer;
}
.interested-card-contact-icons li:hover{
    color: var(--card-white);
}
.interested-card-content{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.interested-card-item{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.interested-card-item span{
    font-weight: normal;
}

.adoption-status-buttons{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.interested-button-accept, .interested-button-reject{
    width: 6rem;
    height: 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: var(--footer-gray);
}
.interested-button-accept:hover, .interested-button-reject:hover{
    background-color: var(--white);
}

@media (max-width: 750px){
    
    
    .interested-card-body{
        width: 90%;
        height: auto;
    }
    
}


@media (max-width: 550px){
    
    .interested-card-contact-icons li{
        width: 2rem;
    }
  

    
}
@media (max-width: 450px){
    

    .interested-card-contact-icons li{
        display: none;
    }
    
}
