.interested-card-body{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: auto;
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    background-color: var(--footer-gray);
    box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.3);
}

.adotante{
    background-color: var(--post-it);
}
.finalizado{
    background-color: var(--header-green);
}

.interested-card-header{
    display: flex;
    justify-content: space-between;
}

.interested-card-person-name{
    font-weight: bold;
    margin-bottom: 1rem;
}

.interested-card-contact-icons{
    display: flex;
   
}
.interested-card-contact-icons li{
    list-style: none;
    cursor: pointer;
}
.interested-card-contact-icons li:hover{
    color: var(--btn-green);
}
.interested-card-content{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.interested-card-item{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.interested-card-item span{
    font-weight: normal;
}

.adoption-status-buttons{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.adoption-status-buttons button{
    /* width: 6rem; */
    padding: 0 1rem;
    /* height: 2rem; */
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: var(--btn-green);
    color: var(--white);
}
.adoption-status-buttons button:hover{
    background-color: var(--btn-darker-green);
}

.indicador-adotante{
    background-color: var(--card-white);
    padding: .3rem;
    border-radius: 1rem;
}

@media (max-width: 1050px){
    
    
    .interested-card-body{
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .interested-card-contact-icons li{
        display: none;
    }
    
}
@media (max-width: 750px){
    
    
    .interested-card-body{
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    
}


@media (max-width: 550px){
    
    .interested-card-contact-icons li{
        width: 2rem;
    }
  

    
}
@media (max-width: 450px){
    

    .interested-card-contact-icons li{
        display: none;
    }
    
}
