.login-cadastro{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 85vh;
}


@media only screen and (max-width: 480px) {
   .login-cadastro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      
   }
   
}
