.user-new-pet-page{
    display: flex;
    width: 100%;
   
}

.user-new-pet-page-content{
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px){
    .user-new-pet-page-content{
      padding: 1rem;
       
    }
    
}

