.users-interested-in {
    display: flex;
    width: 100%;
    min-height: 70vh;
}

.users-interested{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center ;
}

.users-interested-in-pets {
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.no-users-interested {
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px){
    
    
    .users-interested-in-pets{
        padding: 1rem;
    }
    
}