.users-interested-in {
    display: flex;
    width: 100%;
    min-height: 70vh;
}

.users-interested{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:center ;
}

.users-interested-in-pets {
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.no-users-interested {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-button{
    
    width: 20%;
    height: 2rem;
    background-color: var(--btn-green);
    border-radius: 1rem;
    color: var(--white);
    border: 1px solid transparent;
    margin-top: 2rem;
}
.back-button:hover{
    
    cursor: pointer;
    background-color: var(--btn-darker-green);
  
}

@media (max-width: 750px){
    
    
    .users-interested-in-pets{
        width: 100%;
        padding: 1rem;
    }
    .users-interested{
        width: 80%;
  
    }
    
}