
.navbar-custom {
    background-color: var(--footer-gray);
    color: var(--bs-primary-text);
    height: 15vh;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
  
    
}

.nav-item{
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
}

.nav-link{
    color: black;

}
.nav-link:hover{
    color: var(--btn-green);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--darker-gray);

}



.nav-login-button{
    width: 7rem;
    height: 2rem;
    border: .5px solid var(--btn-green);
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    align-content: center;
    color: black;
}
.nav-login-button:hover{
    background-color: var(--btn-green);
    color: white;
}

.nav-user-profile{
    position: relative;
}

.show{
 background-color: var(--footer-gray);   
 padding: 1rem 1rem;
}

.nav-profile-dropdown{
    position: absolute;
    width: 8rem;
    display: none;
    right: 0;
    z-index: 1;

}
.nav-user-icon{
    cursor: pointer;
}

.nav-user-profile hr{
    margin: 0;
    border: 1px solid var(--btn-green);
}

.nav-user-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--card-white);
    padding: 1rem;
    list-style: none;
    border: 2px solid var(--footer-gray);
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    font-size: 0.85rem;
}
.nav-profile-dropdown li span:hover{
    color: var(--btn-green);
}