
.navbar-custom {
    background-color: var(--footer-gray);
    color: var(--bs-primary-text);
}

.nav-items{
    display: flex;
    justify-content: flex-end;
  
    
}

.nav-item{
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
}

.nav-link{
    color: black;

}
.nav-link:hover{
    color: var(--btn-green);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--darker-gray);

}