.user-added-page {
    display: flex;
    width: 100%;
    min-height: 65vh;

}

.user-added-page-content {
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.added-pets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.list-interested-people {
    border: 1px solid transparent;
    background-color: var(--btn-green);
    color: var(--white);
}

.list-interested-people {
    border: 1px solid transparent;
    background-color: var(--btn-green);
    color: var(--white);
}

@media (max-width: 750px) {


    .user-added-page-content {
        padding: 1rem 1rem;
        flex-direction: column;
    }

}

@media (max-width: 400px) {


    .user-added-page-content {
        justify-content: flex-start;
        padding: 0.9rem 0rem;
        min-height: 70vh;
    }

}