.user-sidebar{
    background-color: var(--footer-gray);
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
   
}

.user-sidebar-link{
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 2px solid transparent;
    text-align: left;
    text-decoration: none;
    color: black;
    padding: .3rem 0;
}
.user-sidebar-link.active{
   border-bottom-color: var(--header-green);

}
@media (max-width: 945px){
    .user-sidebar{
       width: 10%;
   
    }
    .user-sidebar-link span{
        display: none;
    }
}
@media (max-width: 570px){
    .user-sidebar{
       min-width: 8%;
       padding: .5rem .5rem;
        
    }
  
}
@media (max-width: 560px){
    .user-sidebar{
       min-width: 8%;
        padding: 0;
    }

    .user-sidebar-link{
       justify-content: center;
    }
  
}
@media (max-width: 560px){
    .user-sidebar{
       min-width: 8%;
        padding: 0;
    }

    .user-sidebar-link{
       justify-content: center;
    }
  
}