.user-adoptions-page{
    display: flex;
    width: 100%;
    min-height: 70vh;
   
}

.user-adoptions-page-content{
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.user-adoptios{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.adotado-voce{
    background-color: var(--header-green);
}

.analise{
    background-color: var(--lime);
}

@media (max-width: 750px){
    
    
    .user-adoptions-page-content{
        padding: 1rem 1rem;
    }
    
}
@media (max-width: 400px){
    
    
    .user-adoptions-page-content{
        padding: 0.9rem 0rem;
    }
    
}

